body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.app {
  min-height: 100vh;
}

.app.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.app.dark-mode .main-heading {
  color: #ffffff;
}

.main-heading {
  text-align: center;
  margin-top: 3rem;
  color: #333;
  transition: color 0.3s ease;
}